body{
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0px;
}

.navbar-con{
    margin-bottom: 50px;
}
.nav-links{
    width: 100px;
    display: flex;
    justify-content: left;
    list-style: none;
}
.nav-links a{
    margin-right: 20px
}

.home-page-header{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    padding-top: 10px;
    text-align: center;
    width: 100%;
    margin-top: auto;
    margin-bottom: auto;
    height: 100%;
}
.home-page-header h1{
    text-shadow: 2px 2px 5px black;
    font-size: 25px;
    color: white;
    text-transform: uppercase;
    margin: 0px;
}
.home-page-header img{
    height: 50px;
    width: auto;
}
.home-page-header .page-number-header img{
    transform: rotate(180deg);
}
.home-page-section{

    background-color: white;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}
@media(max-width:785px){
    .search-parameters-con{
    align-items: center;
    flex-direction: column;
    }
}
@media(max-width:550px){
    .search-parameters-con{
        flex-direction: column;
    }
}
@media(max-width:450px){
    .search-parameters .console-input{
        width: 150px;
    }
    .search-parameters .genre-input{
        width: 150px;
    }
}

.search-parameters-con{
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    background-color: gray;
    padding-top: 5px;
    padding-bottom: 5px;
}
.search-parameters{
    display: flex;
    margin-bottom: 5px;
}
.search-parameters div{
    margin-right: 3px;
}
.search-input{
    font-size: 18px;
}
.console-input{
    height: 38px;
    width: 200px;
}
.genre-input{
    max-height: 38px;
    width: 200px;
}
.game-search{
    margin-top: auto;
    margin-bottom:auto;
}
.game-search input{
    height: 20px;
    width: 196px;
}
.loading-gif{
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    background-color: gray;
}
.loading-gif img{
    height: 50px;
    width: 50px;
}
.search-button-container{
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 5px;
    padding-bottom: 5px;
    background-color: gray;
}
.search-button-container input{
    margin-right: 10px;
}
.search-button-container button{
    cursor: pointer;
    background-color: rgb(96, 96, 255);
    border-radius: 3px;
    color: white;
    font-weight: bold;
    border: none;
    font-size: 20px;
}
.results-container::-webkit-scrollbar {
    width: 5px;
}
.results-container{
    height: 100%;
    overflow-y: scroll;
    scroll-behavior: smooth;
}
@media(max-width:575px){
    .home-page-section .app-container{
        width: 99%;
    }
    .game .game-name p{
        font-size: 18px;
    }
    .game-name .console-list div p{
        font-size: 13px;
    }
}
.app-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 100vh;
    width: 92.5%;
}
.game-catagories{
    display: grid;
    grid-template-columns: 33% 33% 33%;
    padding-left: 15px;
    padding-right: 10px;
    color: white;
    background-color: gray;
}
.game-catagories div p{
    margin-top: 3px;
    margin-bottom: 3px;
    font-weight: bold;
}
.game-catagories-description{
    display: flex;
}
.game-catagories-description div{
    margin-right: 10px;
}

.game{
    display: flex;
    justify-content: space-between;
    width: 99%;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    border: solid 3px black;
    padding: 5px;
    border-radius: 15px;
    background-repeat: no-repeat;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 1), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    transition: .5s;
    height: 90px;
    
}
.game:hover{
    border: solid 3px white;
}
.game-name{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 70%;
    overflow-x: hidden;
}
.game-name p{
    margin: 0px 0px 5px 0px;
    font-size: 20px;
    font-weight: bold;
    color: white;
}

.games-list a{
    text-decoration: none;
    cursor: pointer;
}
.games-list a a{
    text-decoration: none;
}
.console-list{
    display: flex;
    
}
.console-list div{
    margin-right: 10px;
    border-radius: 15px;
    background-color: rgba(95, 95, 95, 0.493);
}
.console-list div p{
    font-size: 14px;
    margin: 0px;
    padding: 5px;
    width: max-content;
}
.game-rating{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-top: auto;
    margin-bottom: auto;
    height: min-content;
    background-color: white;
    padding: 5px 25px 5px 25px;
    border-radius: 5px;
}
.game-rating div{
    display: flex;
}
.game-rating div p{
    margin: 0px;
    font-weight: bold;
    color: black;
}

.game-rating div img{
    height: 20px;
    width: auto;
}
.game-page-buttons{
    display: flex;
    height: 33px;
    width: 100%;
    margin-top: 10px;
    align-items: center;
    justify-content: space-between;
    background-color: #d3d3d3;
}
.game-page-buttons button{
    background-color: #d3d3d3;
    cursor: pointer;
    color: white;
    font-weight: bold;
    font-size: 20px;
    height: 30px;
    width: auto;
    border: none
}
.catagories-rating{
    text-align: center;
}

.page-number p{
    background-color: #d3d3d3;
    font-weight: bold;
    margin: 0px;
    font-size: 20px;
}
.games-list{
    position: relative;
    height: 95%;
    padding-top: 5px;
    padding-left: 15px;
    padding-right: 15px;
}
.loading-text{
    position: absolute;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-weight: bold;
    font-size: 24px;
    color: white;
}
.left-arrow{
    height: 100%;
    width: auto;
}
.right-arrow{
    height: 100%;
    width: auto;
    transform: scaleX(-1);
}
.game-page-section{
    display: flex;
    justify-content: center;
    padding: 15px;
    background-color: white;
}
.game-page{
    background-color: rgba(116, 116, 116, 0.904);
    
    padding: 15px;
    height: 95%;
    width: 95%;
}
.game-screenshots{
    position: relative;
    display: flex;
    overflow-x: scroll;
    width: 100%;
}
.game-screenshots div{
    margin-right: 15px;
}
.game-screenshots div img{
    height: auto;
    width: 300px;
}
.screnshot-load{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}
.header{
    text-align: center;
}
.game-description{
    display: flex;
    flex-direction: column;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}

.game-description p{
    font-size: 18px;
}
.game-page-rating h1{
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 80px;
}
.game-release{
    align-items: center;
}
.game-release strong{
    font-size: 22px;
}
.game-page-genres-container{
    text-align: center;
}
.game-page-genres-container h3{
    font-size: 22px;
}
.game-release p{
    font-size: 18px;
}
.genre-labels{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    color: black;
}
.genre-labels div{
    background-color: darkgray;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
    width: fit-content;
}
.genre-labels div p{
    margin: 0px;
}
.platforms-container{
    text-align: center;
}
.platform-labels{
    color: black;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}
.platform-labels div{
    background-color: darkgray;
    border-radius: 3px;
    font-weight: bold;
    padding: 5px;
    margin-right: 5px;
    margin-bottom: 5px;
    width: fit-content;
}
.platform-labels div p{
    margin: 0px;
}
.game-page-loading{
    position: relative;
    background-color: rgba(116, 116, 116, 0.904);
    padding: 15px;
    height: 100vh;
    width: 95%;
}
.game-page-loading h3{
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
}

.dev-pub-container{
    text-align: center;
}
.no-images{
    text-align: center;
    color: red;
}